name: Python API Tests CI

on:
  #push:
    #branches: [ main ]
  #pull_request:
    #branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start FastAPI service
        run: |
          uvicorn watch_history_service:app --host 127.0.0.1 --port 8001 &
          sleep 5

      - name: Run tests
        run: |
          pytest -m "performance" -s -v
